<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Личный кабинет пользователя</title>
<link rel="stylesheet" href="../static/css/styleforaccount.css">
</head>
<body>
<div class="container">
    <h1 class="main-title">Личный кабинет пользователя</h1>
    
    <div class="profile-info">
        <h2 class="section-title">Мои данные</h2>
        <p><strong>Имя:</strong> Иван</p>
        <p><strong>Фамилия:</strong> Иванов</p>
        <p><strong>Email:</strong> ivanov@mail.com</p>
        <p><strong>Телефон:</strong> +7 123 456 7890</p>
        <p><strong>Класс:</strong> 4 </p>
        <p><strong>Школа:</strong> МБОУ СОШ 27</p>
    </div>
    
    <div class="profile-actions">
        <h2 class="section-title">Действия</h2>
        <a href="#" class="action-link">Изменить данные</a>
        <a href="#" class="action-link">Сменить пароль</a>
        <a href="#" class="action-link">Выход</a>
    </div>
</div>
</body>
</html>