<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form id="loginForm">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <button type="submit">Login</button>
</form>

<script>
    document.getElementById('loginForm').addEventListener('submit', async (e) => {
        e.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        console.log('Sending request with:', JSON.stringify({ username, password }));

        try {
            const response = await fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            });

            if (response.ok) {
                const token = await response.text();
                console.log('Received token:', token);
                //localStorage.setItem('jwtToken', token); // Сохранение токена в localStorage
                document.cookie = "jwtToken="+token;
                alert('Login successful');
                window.location.href = 'main'; // Перенаправление на другую страницу
            } else {
                const errorText = await response.text();
                console.error('Login failed:', errorText);
                alert('Login failed');
            }
        } catch (error) {
            console.error('Error during fetch:', error);
            alert('An error occurred. Check the console for more details.');
        }
    });
</script>
</body>
</html>
