<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/login_modal.css">
</head>
<body>
<div class="login-box">
    <h2>Вход</h2>
    <form action="#" method="post">
        <input type="text" name="username" placeholder="Логин" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit" name="login">Войти</button>
    </form>
    <div class="button-container">
        <button type="button" id="helpBtn">Помощь</button>
        <a href="/test-smart/registration"><button type="button">Регистрация</button></a>
    </div>
</div>

<!-- Модальное окно -->
<div id="helpModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Введите здесь данные, которые выдал Вам ваш классный руководитель</p>
    </div>
</div>

<script src="/js/login_modal.js"></script>

</body>
</html>