<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/main_modal.css">
</head>
<body>
<div class="container" id="subjects-container">

</div>

<button id="openModal">Редактировать предметы</button>

<div id="myModal" class="modal">
    <div class="modal-content">
        <h2>Выберите действие и введите название предмета:</h2>
        <label>
            <input type="radio" name="action" value="delete"> Удалить предмет
        </label>
        <label>
            <input type="radio" name="action" value="add"> Добавить предмет
        </label>
        <br>
        <input type="text" id="itemName" placeholder="Название предмета">
        <br>
        <button id="confirmAction">Подтвердить</button>
    </div>ы
</div>
<script src="/js/main.js"></script>
<script src="/js/main_modal_2.js"></script>
<!--<script src="/js/main_modal.js"></script>-->
</body>
</html>