<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test-Smart</title>
    <link rel="stylesheet" href="../static/css/StylesForMain.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav>
    <ul>
        <li><img src="/images/в.png" alt="Логотип"></li>
        <li><a href="main.html">Предметы</a></li>
        <li><a href="#Справка">Справка</a></li>
        <li class="right">
            <a href="#"><i class="fas fa-bell"></i></a>
            <a href="#"><i class="fas fa-comments"></i></a>
            <a href="account">Личный кабинет</a>
        </li>
    </ul>
</nav>
<h1>Здравствуйте, Легенда</h1>
<div class="container" id="subjects-container"></div>
<script src="/js/main.js"></script>
<script src="/js/main_modal_2.js"></script>
</body>
<footer>
    <p>&copy; Информация о сайте</p>
</footer>
</html>


