<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Регистрация ученика</title>
<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Регистрация ученика</h1>
    <form action="#" method="post">
        <label for="fname">Имя:</label>
        <input type="text" id="fname" pattern="[А-Яа-яA-Za-z]{2,15}"  name="fname" required>
        
        <label for="lname">Фамилия:</label>
        <input type="text" id="lname" pattern="[А-Яа-яA-Za-z]+(-[А-Яа-яA-Za-z]+)?(\s[А-Яа-яA-Za-z]+(-[А-Яа-яA-Za-z]+)?)?" name="lname" required>
        
        <label for="mname">Отчество:</label>
        <input type="text" id="mname" pattern="[А-Яа-яA-Za-z]{2,20}" name="mname">
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="login">Логин:</label>
        <input type="text" id="login" pattern=".{6,}" name="login" required>
        
        <label for="password">Пароль:</label>
        <input type="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" name="password" required>
        
        <label for="class">Класс:</label>
        <select id="class" name="class">
            <option value="5">5 класс</option>
            <option value="6">6 класс</option>
            <option value="7">7 класс</option>
            <option value="8">8 класс</option>
            <option value="9">9 класс</option>
            <option value="10">10 класс</option>
            <option value="11">11 класс</option>
        </select>
        
        <label for="school">Образовательное учреждение:</label>
        <select id="school" name="school">
            <option value="school1">Школа №1</option>
            <option value="school2">Школа №2</option>
            <option value="school3">Школа №3</option>
            <option value="school4">Школа №4</option>
        </select>
        
        <input type="submit" value="Зарегистрироваться">
    </form>
</div>
</body>
</html>