<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../static/css/StyleForRegistration.css">
</head>

<body>
<nav>
    <div class="flex-row">
        <img class="w-8 h-8" src="/images/в.png" alt="Логотип">
        <a href="main">Предметы</a>
        <a href="registration">Зарегистрировать пользователя</a>
        <a href="#Справка">Справка</a>
        <div class="fill"></div>
        <a href="#"><i class="fas fa-bell"></i></a>
        <a href="#"><i class="fas fa-comments"></i></a>
        <a href="account">Личный кабинет</a>
    </div>
</nav>
<h1>Регистрация</h1>

<form id="registrationForm" onsubmit="registerUser(event)">
    <label for="role">Роль:</label>
    <select id="role" name="role" required></select>

    <label for="surname">Фамилия:</label>
    <input type="text" id="surname" name="surname" required>

    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" required>

    <label for="patronymic">Отчество:</label>
    <input type="text" id="patronymic" name="patronymic">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <button type="submit">Зарегистрировать пользователя</button>
    <button type="button" onclick="window.history.back()">Назад</button>
</form>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Регистрация успешна!</h2>
        <p>Логин: <span id="modalLogin"></span></p>
        <p>Пароль: <span id="modalPassword"></span></p>
    </div>
</div>
<div class="overlay" id="overlay"></div>
<script src="../js/registration.js"></script>
<script src="/js/security.js"></script>
</body>
<footer>
    <p>&copy; Информация о сайте</p>
</footer>
</html>
