<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theme</title>
    <link rel="stylesheet" href="../static/css/theme.css">
    <link rel="stylesheet" href="../static/css/theme_modal.css">

</head>
<body>
<div class="container" id="subjects-container"></div>

<button id="openModal">Редактировать темы</button>

<div id="myModal" class="modal">
    <div class="modal-content">
        <h2>Выберите действие и введите название темы:</h2>
        <label>
            <input type="radio" name="action" value="delete"> Удалить тему
        </label>
        <label>
            <input type="radio" name="action" value="add"> Добавить тему
        </label>
        <br>
        <input type="text" id="itemName" placeholder="Название темы">
        <br>
        <button id="confirmAction">Подтвердить</button>
    </div>
</div>
<script src="../js/theme.js"></script>
<script src="/js/theme_modal.js"></script>
</body>
</html>